.headerContainer{
    /* background-color: #C8C1A6; */
    font-size: 10vh;
    position:sticky;
    top: 0;
    display: flex;
}

.headerChild {
    width: 50%;
    padding: 10px;
}  

#title{
    font-size: 10vh;
    margin: 10px;
    flex: 1;
    /* align-self: flex-start; */
}
#links{
        font-size: 2vh;
        color: #cec6a4;
        text-align: right;
        padding: 9vh 3vh 0vh 0vh;
}   

a:before {
    text-decoration: none;

}


