*{
    background-color: #C8C1A6;
}

.title{
    font-size: 5vh;
}
.links{
    font-size: 2vh;
    margin-left: 4vh;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    padding: 0px 10px;
}