@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  /* color: #212222; */
  color: #f1f3e2;
  /* background-color: #f7f2e2ed; */
  /* background-color: #222220f1;    */
}
.links{
  font-family: 'Lato', sans-serif;
  position: absolute;
  right: 3%;
  top: 0;

}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
