body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  background-color: whitesmoke;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
